.dodo{
  background-color: rgb(255, 0, 0);
  text-align: center;
}
.dd{
  background-color: blue;
  text-align: center;
}
.App{
 background-color: aqua;
}
.gg{
  text-align: center;
  background-color: green;
}